---
import Layout from "../layouts/Layout.astro";

import { getCollection } from "astro:content";

const blogs = await getCollection("blog", ({ data }) => {
  return !data.isDraft;
});
---

<Layout>
  <section class="flow blog">
    <h1>Blog</h1>

    {blogs.length > 0 ? (
      <ul class="flow">
        {
          blogs.map((blog) => (
            <li>
              <article>
                <h2>
                  <a href={blog.data.url}>{blog.data.title}</a>
                </h2>
                <time datetime={blog.data.date.toISOString()}>
                  {blog.data.date.toLocaleDateString()}
                </time>
              </article>
            </li>
          ))
        }
      </ul>
    ) : (
      <p class="blog__coming-soon">Blog coming soon</p>
    )}
  </section>
</Layout>

<style>
    .blog ul {
        padding-inline: 0;
        max-width: 800px;
        margin-block-start: var(--space-l);
        font-size: var(--size-step--1);
    }

    .blog li {
        list-style: none;
    }

    .blog article {
        display: flex;
        row-gap: var(--space-3xs);
        column-gap: var(--space-s);
        align-items: baseline;
        flex-wrap: wrap;
    }

    .blog article h2 {
        margin: 0;
        font-size: inherit;
        max-width: none;
        font-family: var(--font-sans);
        font-weight: 400;
    }

    .blog article time {
        opacity: 0.9;
        font-size: var(--size-step--2);
        white-space: nowrap;
    }

    .blog__coming-soon {
        max-width: 800px;
        margin-block-start: var(--space-l);
        font-size: var(--size-step--1);
        opacity: 0.9;
    }
</style>
