20260102_Full_Assy.glb filter=lfs diff=lfs merge=lfs -text
20260102_Full_Assy_no_mli.glb filter=lfs diff=lfs merge=lfs -text
20260102_Payload_assy.glb filter=lfs diff=lfs merge=lfs -text
20260102_Payload_assy_no_baffle.glb filter=lfs diff=lfs merge=lfs -text
