<footer class="site-footer">
    <div class="site-footer__inner | repel">
        <p>
            Cosmic Frontier Labs
            <br />
            San Francisco, California
        </p>
    </div>
</footer>
