<footer class="site-footer">
    <div class="site-footer__inner | repel">
        <p>
            Cosmic Frontier Labs
            <br />
            USA, Earth, Milky Way, Laniakea Supercluster
        </p>
    </div>
</footer>
